.app {
  display: grid;
  grid-template-columns: var(--app-margin) 10vw 1fr 10vw var(--app-margin);
  grid-template-rows: repeat(2, 100vh) auto 90vh 10vh;
}

.grid_hero {
  grid-row: 1;
  grid-column: 3;
}
.grid_about{
  grid-row:2;
  grid-column: 3;
}
.grid_projects {
  grid-row: 3;
  grid-column: 3;
}
.grid_contact {
  grid-row: 4;
  grid-column: 3;
}
.grid_footer {
  grid-row: 5;
  grid-column: 3;
}
