.button_link {
  width: fit-content;
  font-size: 1.3rem;
}
.button_link a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  border: solid 1px var(--baby-blue);
  color: var(--baby-blue);
}

.button_submit {
  color: var(--baby-blue);
  border: solid 1px var(--baby-blue);
  background: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  width: fit-content;
  cursor: pointer;
}
