/*******************
*   Header Styles  *
*******************/
.header {
  position: fixed;
  top: 0;
  height: 10vh;
  padding-left: var(--app-margin);
  padding-right: var(--app-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--drk-backgrnd-grdnt-transparent);
  backdrop-filter: blur(10px);
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.header_hide {
  top: -10vh;
}
.header_leftContainer {
  align-items: center;
  font-size: 2rem;  
}
.header_leftContainer svg {
  display: inline-block;
  
}
.header_leftContainer a {
  color: var(--baby-blue);
}
.header_rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_listContainer {
  list-style-type: none;
  display: flex;
  font-size: 0.8rem;
}
.header_listItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--baby-blue);
  margin-left: 60px;
}
.header_listItem span {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 1.2rem;
  color: var(--small-txt-clr);
}
.header_listItem:hover span{
  color: var(--baby-blue);
}
.header_themeContainer {
  background: none;
  border: none;
  color: var(--baby-blue);
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 80px;
}
.header_burgerContainer{
  display: none;
  font-size: 2rem;
  color: var(--baby-blue);
  cursor: pointer;
}

/*********************
*   Mobile View View *
*********************/
/*  */
@media screen and (max-width: 767px) {
  .header {
    /* background-color: bisque; */
  }
  .header_rightContainer{
    display: none;
  }
  .header_burgerContainer{
    display: block;
  }
}

/*******************************
*   Tablet / Small Laptop View *
*******************************/
@media screen and (min-width: 768px) and (max-width: 1203px) {
  .header_listItem a {
    margin-left: 50px;
  }
  .header {
    /* background-color: green; */
  }

}

/***************************
*   Large Computer Screens *
***************************/
@media screen and (min-width: 1600px) {
  .header {
    /* background-color: red; */
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .header_leftContainer {
    font-size: 5vh;
  }
  .header_listContainer {
    font-size: 2.4vh;
  }
  .header_listItem span {
    font-size: 3vh;
  }
  .header_themeContainer {
    font-size: 4vh;
    margin-left: 5vw;
  }
  .header_listItem a {
    margin-left: 5vw;
  }
}


