.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_intro{
    font-size: 1rem;
    margin-bottom: 10px;
}
.hero_name{
    font-size: 5rem;
    color: var(--big-txt-clr);
}
.hero_shortSummary{
    font-size: 5rem;
    margin-bottom: 10px;
}
.hero_summary{
    font-size: 1.3rem;
    width: 50%;
    margin-bottom: 30px;
    color: var(--smaller-txt-clr);
}
.hero_bttnContainer{

}
