.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  color: var(--smaller-txt-clr);
}
.projects_title {
  grid-column: 1/-1;
  grid-row: 1;
  color: var(--big-txt-clr);
}
.projects_featuredContainer1 {
  display: flex;
  grid-column: 1;
  grid-row: 2;
}
.projects_featuredContainer2 {
  display: flex;
  grid-column: 1;
  grid-row: 3;
}
.projects_featuredContainer3 {
  display: flex;
  grid-column: 1;
  grid-row: 4;
}
.projects_featuredImg {
  object-fit: contain;
  flex: 1;
  width: 50%;
  border-radius: 10px;
}
.projects_featuredTextbox {
  padding-left: 20px;
  width: 50%;
}
.projects_featuredText {
  font-size: 1.3rem;
}
.projects_bttnContainer {
  grid-column: 1;
  grid-row: 5;
}

/****************
*   Phone View  *
****************/
@media screen and (max-width: 500px) {
  .projects {
    color: var(--smaller-txt-clr);
  }
  .projects_featuredContainer1,
  .projects_featuredContainer2 {
    position: relative;
    display: block;
  }
  .projects_featuredText {
    font-size: 1rem;
  }
  .projects_featuredImg {
    width: 100%;
    opacity: 20%;
  }
  .projects_featuredTextbox {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
  }
}

/*****************
*   Tablet View  *
*****************/
@media screen and (min-width: 501px) and (max-width: 767px) {
  .projects {
    color: var(--smaller-txt-clr);
  }
  .projects_featuredContainer1,
  .projects_featuredContainer2 {
    position: relative;
    display: block;
  }
  .projects_featuredText {
    font-size: 1rem;
  }
  .projects_featuredImg {
    width: 100%;
    opacity: 30%;
    /* z-index: 5; */
  }
  .projects_featuredTextbox {
    position: absolute;
    /* text-align: center; */
    top: 20%;
    left: 10%;
    width: 80%;
    /* z-index: 50; */
  }
}

/***********************
*   Small Laptop View  *
***********************/
@media screen and (min-width: 768px) and (max-width: 1203px) {
  .projects {
    color: var(--smaller-txt-clr);
  }
  .projects_featuredText {
    font-size: 1rem;
  }
}
