.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}
.projects_hrzntlFlex {
  display: flex;
}
.projects_title {
  grid-column: 1/-1;
  grid-row: 1;
  color: var(--big-txt-clr);
}
.projects_test1 {
  grid-column: 1;
  grid-row: 2;
}
.projects_test2 {
  grid-column: 1;
  grid-row: 3;
}
.projects_test3 {
  grid-column: 1;
  grid-row: 4;
}
.projects_test1Text {
  width: 50%;
}
.img_test {
  object-fit: contain;
  flex: 1;
  width: 50%;
}
.projects_bttnContainer {
  grid-column: 1;
  grid-row: 5;
}
